/*
This is my own CSS file
*/

body {
    margin: 0;
    padding: 0;
    background: wheat;
    font-family: initial;
    line-height: 12px;
}

#myHeader {
width : 1015px;
height : 120px;
position : relative;
margin : 0 auto;
background :url(/image/myHeader.png) no-repeat
}

#myNav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 60px;
}

.myMenu ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.myMenu li {
    position: relative;
    float: left;
    display: block;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
}

Header {
    background :url(/image/myHeader1.png) no-repeat
}
